#this config file follows the syntax defined at Python's ConfigParser module

[Broker]
host=192.168.56.1
port=61613
username=
password=

[VM]
network_interface = en1
#in seconds
beacon_interval = 10
dir_to_serve = ~

